<If "%{REQUEST_URI} =~ m#\.git#">
Require all denied
</If>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=%{REQUEST_URI}

AddType text/plain .wiki
AddCharset UTF-8 .html
AddCharset UTF-8 .wiki
